*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins' sans-serif;
}
.nav-link
{
    font-size:1.3rem!important;
    color:black!important;
}
.nav-link:hover
{
    color:rgb(228, 85, 85)!important;
}
.nav-link i
{
    cursor:pointer;
}
.navbar
{
    width:100%;
    position:sticky!important;
    left:0;
    top:0;
    z-index: 10;
    overflow:hidden!important;

}
hr
{
    width:30px;
    height:2px;
    background-color:goldenrod;
}
.nav-item
{
    padding:0px 10px;
}
nav
{
    background-color:#e5e5e5;
    box-shadow:5px 10px 20px rgba(0,0,0,.5);
}
.nav-bar
{
    position: sticky !important;
    left:0;
    top:0;
    z-index:-1;
}
#home
{
    background-image:url(back.jpg);
    width:100%;
    height:100vh;
    background-size:cover;
    background-position:top  center;
    display:flex;
    align-items:center;
    justify-content:center;
}
button
{
    display:inline-block;
    padding:5px 20px 10px;
    background-color:rgba(253, 174, 27, 0.932);
    color:white;
    border:none;
    box-shadow:none;
    display:flex;
    align-items: center;
    justify-content:center;
}
button:hover
{
    background-color:black;
    color:white;
}
#home h1
{
    font-weight:bold;
}
#home h2
{
    font-size:2rem;
}
#brand img
{
    width:200px;
}
#new .one img
{
    width:100%;
    height:100vh;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#new .one:hover .details
{
    cursor:pointer;
    background-color:rgba(245,178,178,0.7);
}
#new h1
{
    font-size:1.5rem;
}
#banner
{
    width:100%;
    height:60vh;
    background-image:url(banner/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top 70px center;
    background-attachment:fixed;
    display:flex;
    align-items:flex-start;
    justify-content: center;
}
#banner h3
{
    color:white;
}
#banner p
{
    color:white;
}
#shop .card
{
   width:230px;
   cursor:pointer;
   margin:10px;
}
span
{
    color:orange;
}
#products .container img
{
   cursor:pointer;
}
#products .container .btn
{
    border:2px solid grey;
}
#products
{
    padding-bottom:5%;
    padding-top:3%;
}
#watces
{
    padding-bottom:3%;
}
#clothes
{
    padding-bottom:3%;
}
.card
{
    margin-bottom:2rem;
}
.card img
{
    transition:1s;
}
.card img:hover
{
    transition:1s;
    opacity:0.7s;
}
footer
{
    background-color: #222222;
}
footer h6
{
    color:white;
}
footer h2
{
    font-size:1.5rem;
    color:white;
}
footer p
{
color:#999;
}
footer h3
{
    color:white;
    font-size:1.5rem;
}
footer ul
{
    list-style:none;
}
footer ul a
{
    text-decoration:none;
    text-transform: uppercase;
    color:#999;
}
footer .insta img
{
    width:30%;
}
.copyright .social a
{
    display: inline-block;
    padding:0px 20px;
}